﻿<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="ApiKeyName" value="<your-api-key-name>" />
        <add key="ApiKeyValue" value="<your-api-key-value>" />
        <add key="ApiUrl" value="http://localhost:7109/Api/TagProcessing/" />
        <add key="CreateDriverStateUrl" value="CreateDriverState" />
        <add key="UpdateDriverStateUrl" value="UpdateDriverState" />
        <add key="UpdateDriverStatesUrl" value="UpdateDriverStates" />
        <add key="GetDriverStateUrl" value="GetDriverState?address=" />
        <add key="GetAllTagsByTypeUrl" value="GetAllTagsByType?tagType=" />
        <add key="CreateTagRecordUrl" value="CreateTagRecord" />
        <add key="WebSocketUrl" value="ws://localhost:7109/Api/Websocket" />
    </appSettings>
</configuration>
